* {
  box-sizing: border-box;
}

body {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  max-width: 100%;
  display: table;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.reservations-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  border-top: 1px solid #DBDBDB ;
  height: 10%;
  background-color: #ffffff;
}

.content {
  margin: 0 20%;
  padding: 11px 0;
  height: 100%;
}

.bookButton {
  float: right;
  height: 100%;
  width: 180px;
  background: #FF5A5F;
  border: none;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  border-radius: 4px;
  font-weight: 350;
  font-size: 18px;
  line-height: 22px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  letter-spacing: 0.7px;
}

.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  display: table;
  overflow-y: auto;
}

.pop-up-content {
  display: table-cell;
  vertical-align: middle;
  padding: 64px;
}

.inner-content {
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
  max-width: 376px;
  margin: auto !important;
}

.inner-inner-content {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 24px;
}

.close-button {
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  border: none;
}

input {
  cursor: text;
}

.reservations-dialog-container {
  margin-top: 16px;
  margin-bottom: 16px;
}

.dates {
  display: inline-block;
  width: calc(58.33333333% - 4px);
  vertical-align: top;
}

.guests {
  display: inline-block;
  margin-left: 8px;
  width: -webkit-calc(41.66666667% - 4px);
  width: -moz-calc(41.66666667% - 4px);
  width: calc(41.66666667% - 4px);
  vertical-align: top;
}

.reservation-label, .guest-label {
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  padding-bottom: 4px;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #484848;
}

#checkin, #checkout, .hyphen {
  border: none;
  display: inline;
  color: #484848;
}

#checkin, #checkout, .hyphen {
  display: inline;
}

.hyphen {
  vertical-align: middle;
  font-size: 16px;
  line-height: 24px;
}

#checkin, #checkout {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px;
  height: 100%;
  width: 100%;
}

.check-in-text, .check-out-text {
  white-space: nowrap;
  overflow: hidden;
  display: inline;
  padding: 4px 6px;
}

.dates-container {
  background-color: #fff;
  display: block;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
  overflow: hidden;
  padding: 0 6px;
  white-space: nowrap;
}

.checkin-container, .checkout-container {
  line-height: 24px;
  color: #757575;
  margin: 0px;
  background: #fff;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.3px;
  padding: 9px 0;
  width: auto;
}

.guests-button {
  background: #ffffff;
  text-align: left;
  border-radius: 2px;
  line-height: normal;
  display: block;
  width: 100%;
  border: 1px solid #DBDBDB;
  padding: 6px;
}

.guests-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.3px;
  color: #484848;
  font-weight: normal;
}

.guest-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #484848;
  font-weight: normal;
  border-radius: 4px;
  display: inline;
  padding-left: 6px;
  padding-right: 6px;
}

.booking-button-container {
  margin-top: 24px;
}

.book-now-button {
  -webkit-transition: background 0.3s, border-color 0.3s;
  -moz-transition: background 0.3s, border-color 0.3s;
  transition: background 0.3s, border-color 0.3s;
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  width: 100%;
  font-size: 19px;
  line-height: 22px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #484848;
  font-weight: 700;
  border: 2px solid transparent;
  padding-right: 24px;
  padding-left: 24px;
  min-width: 77.66563145999496px;
  background: #FF5A5F;
}

.book-now-span {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  font-size: 19px;
  line-height: 22px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #ffffff;
}

.book-now-div {
  margin: 0px;
  word-wrap: break-word;
  font-size: 19px;
  line-height: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 350;
  color: #ffffff;
}

.outer-calendar-pop-up {
  z-index: 1;
  background-color: #ffffff;
  position: absolute;
}

.inner-calendar-pop-up {
  width: 319px;
  position: relative;
  text-align: left;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
}

.calendar-holder {
  width: 318px;
  min-height: 298px;
  overflow: hidden;
  background: #fff;
  text-align: center;
  padding: 0 13px;
  margin-bottom: 5px;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calendar-footer-content {
  bottom: 0px;
  padding: 24px;
  padding-top: 0px;
}

.fine-print {
  font-weight: normal;
  margin: 0px;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #484848;
}

.clear-dates-div {
  text-align: right;
  margin-top: 4px;
  font-weight: normal;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #484848;
}

.clear-dates-btn {
  color: #008489;
  font: inherit;
  text-decoration: none;
  background: transparent;
  border: 0px;
  margin: 0px;
  padding: 0px;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  text-align: left;
}

.left-arrow {
  background-repeat: no-repeat;
  background-position: center;
  line-height: 0.78;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #e4e7e7;
  background-color: #fff;
  color: #757575;
  border-radius: 3px;
  padding: 6px 9px;
  top: 18px;
  position: absolute;
  left: 22px;
}

.right-arrow {
  background-repeat: no-repeat;
  background-position: center;
  line-height: 0.78;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #e4e7e7;
  background-color: #fff;
  color: #757575;
  border-radius: 3px;
  padding: 6px 9px;
  top: 18px;
  position: absolute;
  right: 22px;
}

.left-arrow, .right-arrow {
  height: 33px;
  width: 39px;
}

.calendar-header {
  color: #565a5c;
  font-size: 18px;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 37px;
  caption-side: initial;
  margin: 0;
}

.days-of-week-div {
  color: #757575;
  position: absolute;
  top: 62px;
  z-index: 2;
  padding: 0 13px;
  text-align: left;
}

.days {
  list-style: none !important;
  margin: 1px 0 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  font-size: 14px !important;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.day {
  display: inline-block;
  text-align: center;
  width: 39px;
}

.calendar-grid {
  position: relative;
  left: 12px;
}

.date {
  width: 39px;
  height: 38px;
  border: 1px solid rgb(228, 231, 231);
  color: rgb(86, 90, 92);
  background: rgb(255, 255, 255);
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  cursor: pointer !important;
  font-size: 14px !important;
  text-align: center !important;
}

.date:hover {
  background: rgb(228, 231, 231);
}

.check-in-text.active, .check-out-text.active {
  white-space: nowrap !important;
  overflow: hidden !important;
  display: inline !important;
  padding: 4px 6px !important;
  background: #008489 !important;
  border-color: #008489 !important;
  border-radius: 4px !important;
  color: #fff !important;
}

.date.date-selected {
  border: rgb(0, 132, 137);
  color: rgb(255, 255, 255);
  background: rgb(0, 132, 137);
  cursor: default !important;
}

.date.between-selected {
  border: 1px solid rgb(51, 218, 205);
  color: rgb(255, 255, 255);
  background: rgb(102, 226, 218);
  cursor: default !important;
}

.date.between-selected:hover {
  background: rgb(51, 226, 218);
}

.date.not-available {
  border: 1px double rgb(228, 231, 231);
  color: rgb(220, 224, 224);
  cursor: default !important;
  text-decoration: line-through;
}

.date.not-available:hover {
  background: #fff;
}